.card{
  display: flex;
  flex-direction: column;
  align-items: start;
  height: auto;
  background-color: rgb(137, 191, 191);
  width: 40vw;
  border-radius: 20px;
  padding: 16px;
  border: rgb(106, 106, 106) 2px solid;
}
.card h4{
  margin: 0px 0px 16px 5px;
}
.card p{
  margin: 5px;
}
.card span{
  text-transform:uppercase;
}